.folder-container {
  display: flex;
  align-items: center;
}

.folder {
  cursor: pointer;
  padding: 8px 8px 8px 0;
  &:hover {
    text-decoration: underline;
  }
}

i.trash {
  padding-top: 4px;
  cursor: pointer;
}

.folder-selected {
  color: #ffffff;
  background-color: #4e4e4e;
  padding: 8px;
  border-radius: 5px;
}
